@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Hi+Melody&display=swap');

*{
    font-family: "Gugi", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: rgb(255, 244, 207);
}

#title{
 font-size: 50px;
 text-align:center;
}

#container{
    width: 80%;
    border: 6px solid black ;
    background-color: white;
    margin: auto;
}

aside{
    margin-left: 92%;
    font-size: 18px;
    position : sticky;
    top : 20px;
}

.description{
    display: inline-block;
    font-size: 20px;
    margin-left: 50px;
}

#content{
    margin-left: 42%;
    font-size: 30px;
}

.tip{
    font-size: 15px;
    margin-left: 30%;
}

img{
    height: 300px;
    border-radius: 20px;
    margin-left: 30%;
}

a{
    text-decoration:none;
}

footer{
    text-align: center;
}

a:visited{
    color : black;
}